.container {
    padding: 5px;
    display: inline-flex;
    border: 2px ridge black;
    width: 100%
};

.img {
    width: 150px;
    height: 150px;
    margin: 5px;
};

.hotelName {
    text-align: center;
};

.text {
    width: 75%
}